.cards {
  padding: 20px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  padding: 0;
  margin: 20px 0 0;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .card__list {
    grid-template-columns: repeat(1, 288px);
    padding: 0 0 20px;
    width: 100%;
  }
}

@media screen and (min-width: 1750px) {
  .cards__list {
    grid-template-columns: repeat(3, 413px);
  }
}
